# Copy & rename the file to .env and add your Discord BOT Token & NewWorldStatus Bearer.

# The token of your bot can be obtained from https://discord.com/developers/ by selecting the preferred bot
# and going to the 'Bot' tab under settings. From there you'll be able to copy the token of your bot.
TOKEN=

# The bearer for NW Status can be obtained from https://newworldstatus.com/__automata/gtm/request.aspx
NW_BEARER=